/* Réinitialisation de la mise en page par défaut du navigateur */
body,
h1,
h2,
ul,
li {
  margin: 0;
  padding: 0;
}

/* Styles généraux */
body {
  font-family: Arial, sans-serif;
}

/* Barre de navigation */
.navbar {
  background-color: #0c0c4d; /* Couleur de fond bleu nuit */
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}

.navbar-title {
  font-size: 30px;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-right: 20px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.login-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

/* Section d'en-tête */
.header-section {
  background-image: url("Images/SmokeFadeKeys1.png"); /* Ajoutez l'URL de votre image de fond */
  background-size: cover;
  background-position: center;
  height: 50vh;
  display: flex;
  justify-content: left;
  align-items: center;
  color: white;
  text-align: center;
}

.header-content h1 {
  font-size: 36px;
  margin-left: 5vw;
}

/* Styles pour la section principale */
.main-section {
  background-color: #0c0c4d; /* Couleur de fond bleu nuit */
  padding: 20px;
  text-align: center;
  position: relative;
  height: 100vh;
  overflow: hidden; /* Pour cacher les débordements */
}

/* Styles pour positionner les images "land" en cercle */
.main-section img {
  max-width: 100%;
  height: auto;
  margin: 10px;
  animation: floatAnimation 3s infinite alternate; /* Animation de flottement */
}

@keyframes floatAnimation {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.row {
  justify-content: center;
}

.container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.castle {
  height: 500px;
  width: 500px;
  position: relative;
}

.land1,
.land2,
.land3,
.land4,
.land5,
.land6,
.land7 {
  position: absolute;
  height: 250px;
  width: 250px;
  border-radius: 50px;
  top: 50%; /* Déplacez verticalement au milieu */
  left: 50%; /* Déplacez horizontalement au milieu */
  transform: translate(-50%, -50%); /* Centrez l'image */
}

.land1 {
  top: 3vh;
  left: 41vw;
}

.land2 {
  top: 23vh;
  left: 18vw;
}

.land3 {
  top: 55vh;
  left: 15vw;
}

.land4 {
  top: 80vh;
  left: 30vw;
}

.land5 {
  top: 80vh;
  left: 51vw;
}

.land6 {
  top: 55vh;
  left: 67vw;
}

.land7 {
  top: 23vh;
  left: 64vw;
}
